.continerCarMaintenanceCenter{
  margin-top: 82px;
  /* background: red; */
}


.bodyCarMaintenanceCenter {
  display: flex;
}

.ShowCarMaintenanceCenter {
  /* background: black; */
  flex: 1;
  margin: 0 0px 0 0;
}

/* start sidBar */
.SideBar {
  /* background: black; */
  width: 30%;
  height: 100vh;
  margin: 0 0 0 0;
}
.SideBar .ImageOne,
.SideBar .ImageTow {
  margin: 0 20px 0 20px;
}

.SideBar .ImageOne p,
.SideBar .ImageTow p {
  font-size: 18px;
  font-weight: 500;
}

.SideBar .ImageOne p span,
.SideBar .ImageTow p span {
  color: var(--MainColor);
}

.SideBar .ImageOne img,
.SideBar .ImageTow img {
  width: 100%;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
/* end sidBar */


.ShowCarMaintenanceCenter .GridCarMaintenanceCenter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 20px 20px 0;
  margin: 20px 20px 0 0;
  gap: 25px;
  /* background: black; */
  max-height: 100vh;
  overflow-y: scroll;
}

.ShowCarMaintenanceCenter .GridCarMaintenanceCenter::-webkit-scrollbar {
  display: none;
}


.ShowCarMaintenanceCenter .GridCarMaintenanceCenter .CardCarMaintenanceCenter {
  /*background: red;*/
  border: 2px solid var(--backgroundLight);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  overflow: hidden;
  /* cursor: pointer; */
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  box-shadow: 0 0 7px 2px var(--backgroundLight);
  width: 250px;
  padding-bottom: 10px;

}

.ShowCarMaintenanceCenter .GridCarMaintenanceCenter .CardCarMaintenanceCenter:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.CardCarMaintenanceCenter p,
.CardCarMaintenanceCenter h3 {
  margin: 0;
}

.CardCarMaintenanceCenter img {
  width: 100%;
  object-fit: cover;
  height: 150px;
}

.CardCarMaintenanceCenter .DitalsCarMaintenanceCenter {
  margin: 0 5px 5px 0;
  /* display: flex; */
  /* flex-direction: column; */
  /* gap: 5px; */

}

.CardCarMaintenanceCenter .DitalsCarMaintenanceCenter h3 {
  color: var(--MainColor);
}

.CardCarMaintenanceCenter .DitalsCarMaintenanceCenter p:nth-child(2) {
  display: flex;
  align-items: center;
  /* color: aqua; */
  gap: 5px;
  margin-bottom: 10px;
}

.CardCarMaintenanceCenter .DitalsCarMaintenanceCenter a {
  text-decoration: none;
  padding: 5px;
  background: var(--MainColor);
  color: white;
  border: 1px solid transparent;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.CardCarMaintenanceCenter .DitalsCarMaintenanceCenter a:hover{
  background: white;
  border: 1px solid var(--MainColor);
  color: var(--MainColor);
}


@media (max-width:1024px) {
  .ShowCarMaintenanceCenter .GridCarMaintenanceCenter {
      justify-content: center;
    padding-right: 0;
    /* margin-left: 10px; */
    margin-right: 0;
  }
}