.hero {
  width: 100%;
  height: 100vh;
  background-image: url(../../../public/BackgroundImage3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

@media (max-width: 600px) {
  .hero {
    background-image: url(../../../public/BackgroundHeroMedai6003.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.ovelay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.267);
}

.hero .Texthero {
  z-index: 800;
  /* background: red; */
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.hero .Texthero h2,
.hero .Texthero p {
  padding: 0;
  margin: 0;
}

.hero .Texthero .TextOne {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* background: green; */
  gap: 10px;
  /* text-align: center; */
}

.Texthero .TextOne h2 {
  font-size: 70px;
  color: rgb(35, 240, 137);
  /* background: rgb(245, 245, 245); */
}

.Texthero .TextOne p {
  font-size: 30px;
  color: whitesmoke;
}

@media (max-width: 1024px) {
  .Texthero .TextOne h2 {
    font-size: 35px;
  }

  .Texthero .TextOne p {
    font-size: 20px;
  }
}

.Texthero .TextTow {
  width: 700px;
  text-align: center;
}

.Texthero .TextTow p {
  color: whitesmoke;
  font-size: 30px;
}

.Texthero .TextTow p span {
  color: var(--MainColor);
  font-size: 35px;
  font-weight: 700;
}

@media (max-width: 1024px) {
  .Texthero .TextTow {
    width: 550px;
  }
  .Texthero .TextTow p {
    font-size: 20px;
  }
  .Texthero .TextTow p span {
    font-size: 30px;
  }
}

@media (max-width: 600px) {
  .Texthero .TextTow {
    width: 400px;
    margin-top: 20px;
  }
  .Texthero .TextTow p {
    font-size: 20px;
  }
  .Texthero .TextTow p span {
    font-size: 30px;
  }
}

.Texthero .hreoButton {
  position: absolute;
  bottom: -130px;
}

.Texthero .hreoButton a {
  background: var(--MainColor);
  border: 2px solid transparent;
  padding: 10px 20px;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  text-decoration: none;
}

.Texthero .hreoButton a:hover {
  background: transparent;
  border: 2px solid var(--backgroundLight);
  cursor: pointer;
}

.Texthero .hreoButton button:focus {
  outline: none;
}

/* Start Space */
.Space {
  /* background: red; */
  height: 100px;
}
/* End Space */

/* Start  CategoryCarsBox*/
.CategoryCars {
  width: 100%;
}
.TextCategoryCars {
  margin-right: 20px;
}

.CategoryCarsSlug {
  background: var(--backgroundLight);
}

.CategoryCarsBox {
  display: flex;
  gap: 20px;
  /* margin-right: 35px; */
  width: 100%;
  justify-content: start;
  padding: 10px 0;
  margin-right: 20px;
}

.CategoryLink {
  background: transparent;
  border: 1px solid black;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.3s;
  color: rgba(0, 0, 0, 0.596);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.CategoryLink.active {
  background: var(--mainColor);
  color: var(--MainColor);
  border: 1px solid var(--MainColor);
}

.CategoryLink:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

/* Satrt  CategoryTypesBox*/
.CategoryTypesBox {
  margin-top: 30px;
  padding-bottom: 20px;
}

.CategoryTypesBox h3 {
  margin-right: 20px;
}

.TypesGrid {
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fill, minmax(120px, 1fr)); */
  display: flex;
  margin-right: 30px;
  gap: 20px;
  overflow-x: scroll;
  /* padding-bottom: 20px; */
  /* overflow-y: hidden; */
}

.TypesGrid::-webkit-scrollbar {
  display: none;
}
.TypesGrid a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.637);
  font-size: 18px;
  font-weight: bold;
}
.TypeCard {
  border: 2px solid var(--backgroundLight);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0 0 7px 2px var(--backgroundLight);
  cursor: pointer;
  background: var(--backgroundLight);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  margin: 30px 20px;
}

.TypeCard img {
  width: 250px;
  height: 120px;
  object-fit: contain;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  padding: 15px 15px 0 15px;
}

.TypeCard:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.CategoryTypesBox .TypeCard p {
  margin: 0 0 10px 0;
}

.DotsBox {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
}

.Dot {
  width: 12px;
  height: 12px;
  background-color: var(--MainColor);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.Dot:hover {
  background-color: var(--backgroundLight);
}

/* End  CategoryTypesBox*/

/* Start  ShowAllCar*/

.ShowAllCar {
  margin: 0 20px 0 0;
}

.ShowAllCar .TextAllCars h2 {
  font-size: 40px;
  margin: 0;
}

.ShowAllCar .TextAllCars h2 span {
  color: var(--MainColor);
}

.ShowAllCar .TextAllCars p {
  font-size: 25px;
  margin: 10px 0 0 0;
  color: rgba(0, 0, 0, 0.534);
}

.ShowAllCar .GridCar {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  padding: 20px 0 20px 0;
  margin: 20px 10px 0 0;
  gap: 25px;
  /* background: black; */
  max-height: 1000px;
  overflow-y: scroll;
}

.ShowAllCar .GridCar::-webkit-scrollbar {
  display: none;
}
.ShowAllCar .GridCar a {
  color: black;
}
.ShowAllCar .GridCar .CardCar {
  /*background: red;
  */
  border: 2px solid var(--backgroundLight);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  box-shadow: 0 0 7px 2px var(--backgroundLight);
}

.ShowAllCar .GridCar .CardCar:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.ShowAllCar .GridCar .CardCar img {
  width: 300px;
  height: 140px;
  background: white;
}

.ShowAllCar .GridCar .CardCar .Ditals {
  margin: 0 10px 0 0;
}

.ShowAllCar .GridCar .CardCar .Ditals h2,
.ShowAllCar .GridCar .CardCar .Ditals h3,
.ShowAllCar .GridCar .CardCar .Ditals p {
  margin: 0;
  padding: 0;
}

.ShowAllCar .GridCar .CardCar .Ditals h2 {
  color: var(--MainColor);
}

.ShowAllCar .GridCar .CardCar .Ditals h3 {
  color: rgba(0, 0, 0, 0.534);
}

.ShowAllCar .GridCar .CardCar .Ditals p {
  display: flex;
  align-items: center;
  font-size: 20px;
  padding: 0 0 10px 0;
  font-weight: bold;
}

/* End  ShowAllCar*/

/* Start Services */
.Services {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.Services .ServicesOne,
.Services .ServicesTow {
  width: 600px;
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Services .ServicesOne .overley,
.Services .ServicesTow .overley {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.308);
}

.Services .ServicesOne {
  background-image: url(../../../public/ImageCar-maintenance-center.jpg);
}
.Services .ServicesTow {
  background-image: url(../../../public/Image-Car-parts-stores.jpg);
}

.Services .ServicesOne:hover,
.Services .ServicesTow:hover {
  transform: translatey(-5px);
  -webkit-transform: translatey(-5px);
  -moz-transform: translatey(-5px);
  -ms-transform: translatey(-5px);
  -o-transform: translatey(-5px);
}

.Services .ServicesOne .titleServicesOne,
.Services .ServicesOne .buttonServicesOne,
.Services .ServicesTow .titleServicesTow,
.Services .ServicesTow .buttonServicesTow {
  margin: 0 20px 0 0;
  position: relative;
}

.Services .ServicesOne .titleServicesOne h3,
.Services .ServicesOne .titleServicesOne p,
.Services .ServicesTow .titleServicesTow h3,
.Services .ServicesTow .titleServicesTow p {
  margin: 0;
  color: white;
  z-index: 900;
}

.Services .ServicesOne .titleServicesOne h3,
.Services .ServicesTow .titleServicesTow h3 {
  margin-top: 20px;
}

.Services .ServicesOne .buttonServicesOne,
.Services .ServicesTow .buttonServicesTow {
  margin-bottom: 20px;
}
.Services .ServicesOne .buttonServicesOne a,
.Services .ServicesTow .buttonServicesTow a {
  color: black;
  text-decoration: none;
  padding: 5px 10px;
  background: white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

/* End Services */

/* Start media */

@media (min-width: 1080px) {
  .ShowAllCar {
    margin-right: 0;
  }
  .ShowAllCar .TextAllCars {
    margin-right: 10px;
  }
  .ShowAllCar .GridCar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0 20px 0;
    margin: 20px 0px 0 0;
    gap: 25px;
    /* background: black; */
    max-height: 1000px;
    overflow-y: scroll;
  }
  .Services .ServicesOne,
  .Services .ServicesTow {
    width: 500px;
    height: 350px;
  }
}

@media (max-width: 1024px) {
  .ShowAllCar {
    margin: 0;
  }
  .ShowAllCar .TextAllCars {
    margin-right: 10px;
  }
  .ShowAllCar .GridCar {
    justify-content: center;
    margin: 0;
  }
  .ShowAllCar .TextAllCars h2,
  .ShowAllCar .TextAllCars p {
    margin: 0 10px 0 0;
  }
  .Services {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
}

@media (max-width: 600px) {
  .ShowAllCar {
    margin: 0;
  }
  .ShowAllCar .GridCar {
    justify-content: center;
    margin: 0;
  }
  .ShowAllCar .TextAllCars h2 {
    font-size: 25px;
    margin: 0 10px 0 0;
  }
  .ShowAllCar .TextAllCars p {
    font-size: 17px;
    margin: 10px 10px 0 0;
    color: rgba(0, 0, 0, 0.534);
  }
  .Services .ServicesOne,
  .Services .ServicesTow {
    width: 300px;
    height: 350px;
  }
}
/* End media */
