.MainBoxConact {
  /* background: blue; */
  margin-top: 82px;
  height: 100vh;
}

.MainBoxConact .TextContact {
  margin: 0px 20px 0 0;
}

.MainBoxConact .TextContact h2 {
  color: var(--MainColor);
}

.MainBoxConact .TextContact h2,
.MainBoxConact .TextContact p {
  margin: 10px 0 5px 0;
}

.MainBoxConact .TextContact p {
  margin-bottom: 10px;
}

.BoxContact {
  /* background: red; */
  display: flex;
  gap: 20px;
  /* flex: 1; */
  /* width: 50%; */
  height: calc(100% - 94px);
  border-top: 2px solid var(--MainColor);
}

.BoxFormContact {
  width: 50%;
  /* background: rebeccapurple; */
}

.BoxFormContact h3,
.BoxFormContact p {
  margin: 10px 20px 10px 0;
}

.BoxFormContact h3 {
  color: var(--MainColor);
}
.BoxFormContact form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: white;
  /*gap: 40px;
  */ /*width: 95%;
  */
  height: calc(100% - 150px);
  /*align-items: center;
  */
  margin: 0 20px 0 20px;
  border: 2px solid var(--MainColor);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0 0 7px 5px var(--backgroundLight);
}

.BoxFormContact form div {
  display: flex;
  flex-direction: column;
  margin: 0 20px 0 20px;
}

.BoxFormContact form div label {
  margin: 0 0 10px 0;
}

.BoxFormContact form div input {
  padding: 7px 7px 7px 0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: 1px solid transparent;
  background: var(--backgroundLight);
  font-size: 16px;
}

.BoxFormContact form div textarea {
  height: 100px;
  padding: 10px 10px 0 0;
  border: 2px solid var(--backgroundLight);
  /* background: var(--backgroundLight); */
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.BoxFormContact button {
  margin: 0 20px 0 20px;
  font-size: 18px;
  background: var(--MainColor);
  border: 2px solid transparent;
  color: white;
  padding: 5px 0 5px 0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  cursor: pointer;
}

.BoxFormContact button:hover {
  border: 2px solid var(--MainColor);
  background: white;
  color: var(--MainColor);
}

.BoxFormContact form div textarea:focus,
.BoxFormContact form div input:focus,
.BoxFormContact button:focus {
  outline: none;
}

/* Start BoxDetialsContact */
.BoxDetialsContact {
  width: 50%;
  /* background: green; */
}




.BoxLocation,
.socil {
  margin: 0 20px 0 0;
}

.BoxLocation {
  padding-bottom: 20px;
  margin: 40px 20px 0 20px;
  border-bottom: 2px solid var(--MainColor);
}

.BoxLocation .Location,
.BoxLocation .Email {
  display: flex;
  align-items: center;
  gap: 20px;
}

.BoxLocation .Location .IconLocation,
.BoxLocation .Email .IconEmail {
  padding: 17px;
  background: var(--MainColor);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  /* border: 1px solid var(--MainColor); */
  box-shadow: 0 0 7px 5px var(--backgroundLight);
}

.BoxLocation .Location .TextLocation h3,
.BoxLocation .Location .TextLocation p,
.BoxLocation .Email .TextEmail h3,
.BoxLocation .Email .TextEmail p {
  margin: 5px 0 10px 0;
}




.BoxDetialsContact .socil .IconSocil {
  display: flex;
  /* flex-direction: row; */
}

.BoxDetialsContact .socil .IconSocil div a {
  font-size: 25px;
  margin-left: 7px;
  padding: 5px;
  border: 1px solid var(--MainColor);
  display: flex;
  color: var(--MainColor);
  box-shadow: 0 0 6px 5px var(--backgroundLight);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.BoxDetialsContact .socil .IconSocil {
  border-bottom: 2px solid var(--MainColor);
  padding: 0 0 20px 0;
  margin-left: 20px;
}

/* End BoxDetialsContact */

/* start media */
@media (max-width: 1024px) {
  .MainBoxConact {
    height: auto;
    padding-bottom: 40px;
  }

  .BoxContact {
    flex-direction: column;
    height: auto;
    gap: 40px;
    padding: 20px 0;
  }

  .BoxFormContact,
  .BoxDetialsContact {
    width: 100%;
  }

  .BoxFormContact form {
    height: auto;
    padding: 20px 0;
  }

  .BoxLocation {
    margin-top: 20px;
  }
}

@media (max-width: 780px) {
  .TextContact h2 {
    font-size: 22px;
  }

  .TextContact p {
    font-size: 14px;
  }

  .BoxFormContact h3 {
    font-size: 18px;
  }

  .BoxFormContact form div input,
  .BoxFormContact form div textarea {
    font-size: 14px;
  }

  .BoxFormContact button {
    font-size: 16px;
    padding: 8px 0;
  }

  .BoxLocation .Location .IconLocation,
  .BoxLocation .Email .IconEmail {
    padding: 12px;
    font-size: 16px;
  }

  .BoxDetialsContact .socil .IconSocil div a {
    font-size: 20px;
  }
}

@media (max-width: 600px) {
  .MainBoxConact {
    margin-top: 60px;
  }

  .TextContact {
    margin: 0 15px;
    text-align: center;
  }

  .BoxFormContact h3,
  .BoxFormContact p {
    margin: 10px 15px;
  }

  .BoxFormContact form {
    margin: 0 15px;
  }

  .BoxFormContact form div {
    margin: 0 15px;
  }

  .BoxLocation {
    margin: 20px 15px;
  }

  .BoxLocation .Location,
  .BoxLocation .Email {
    /* flex-direction: column; */
    align-items: center;
    gap: 10px;
  }

  .BoxDetialsContact .socil .IconSocil {
    margin-left: 15px;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
  }

  .BoxDetialsContact .socil .IconSocil div a {
    margin-left: 0;
  }
}

/* end media */
